
.sidebar{
    position: fixed;
    z-index: 1020px !important;
}

.mobile{
    display: none;
}
.desktop{
    display: block;
}


@media only screen and (max-width: 800px) {

    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }

    .home-searchinput{
        width: 70%;
    }.home-searchbtn{
        width: 25%;
    }.home-title{
        font-size: 35px;
    }

    .hiring-main-wrapper{
        width: 98%;
    }


}